/target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
.mvn/
.idea/
*.iml
*.class
*.log
/.classpath
/.project
/.settings/
/node_modules/
**/node_modules/
/dist/
**/dist/
/.angular/cache/
/.vscode/
.DS_Store
